@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #05121A;
    display: flex;
    justify-content: left;
    align-items: center; 
    box-shadow: 0px 3px 5px #F24405;
    width: 100%;
}

header .img-logo p {
    color: #fdfdfd;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

header .img-logo img {
    width: 80px;
    height: 50px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

main h3 {
    color: #05121A;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 2rem;
}

main p {
    color: #05121A;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

main a button{
    color: #F24405;
    background-color: #fdfdfd;
    border-color: #F24405;
    height: 3rem;
    font-weight: bold;
    border-radius: 0.375rem;
    width: 20%;
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    main h3 {
        font-size: 2rem;
    }

    header .img-logo p {
        display: none;
    }

    header .img-logo{
        margin-bottom: 1rem;
    }
}
